
<nav>
    <div class="nav__header">
        <div class="nav__logo">
            <a href="#">Landing<span>Page</span></a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
        </div>
        
    </div>
    <ul class="nav__links" id="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="nav__btns">
        <button class="btn sign__up">Sign Up</button>
        <button class="btn sign__up">Sign In</button>
    </div>
</nav>